<div class="searchbar">
		<div class="search-left">
			<p><%= user %>'s comments</p>
		</div>
		<div class="search-right">
		<form action="/profile/search" method="GET">
			<input type="text" name="query"><input type="submit"  value=""/>
		</form>
	</div>
	<div class="clear"> </div>
</div>