<head>
<title>A Bike Named Su</title>
<link rel="shortcut icon" type="image/x-icon" href="http://ph8tel.com/images/pageicon.png" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<link href="/../../css/style.css" rel="stylesheet" type="text/css"  media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>

<meta name="keywords" content="DR650, dualsport, adv, motorcycle, video, travel, adventure, picture, tube" />
<link href='http://fonts.googleapis.com/css?family=Ropa+Sans' rel='stylesheet' type='text/css'>
</head>