<nav>
  <ul>
            <li><a href="/profile/comment/sort/questions">questions</a></li>
            <li><a href="/profile/comment/sort/happy">happy</a></li>
            <li><a href="/profile/comment/sort/happy">happy</a></li>            
  </ul>
</nav>